.container-fluid
{
    padding-left: 0%;
   
}
.bg-success{
    background-color:#00bcd4!important;
}
.co{
    background-color: #000000;
}
.navbar-dark .navbar-nav .nav-link {
    color: #000000 !important;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  
}
.un:hover{
    text-decoration: underline;
  }
  .navbar
  {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }



  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

 
  input.transparent-input{
     background-color:transparent !important;
  
  }
  input.transparent-input2{
    background-color:transparent !important;
    opacity: 0.5;
 
 }

 .btn-primary{
    color: #000000;
    background-color: transparent;
    border-color: transparent;
    padding:8px;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 }
 .btn-primary:hover {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
 }
 .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: transparent;
  
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: rgb(8, 8, 8);
    background-color: transparent;
    border-color: transparent;
   
  }


  .dropdown:hover>.dropdown-menu {
    display: block;
    
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
      
  }
  

  a:hover {
    color: #0056b3;
  }