<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <div class="container">
        <div class="card card-container" style="background-color:white">
            <div class="text-center">
               <b><h5>Contact us</h5></b> 
            </div>
            <br>
            <div class="text-center">
               <strong>Email id: </strong>  Leotreasuries@gmail.com <br>
               <strong>Phone no: </strong>  9876543210 <br>
               <strong>Telephonoe no: </strong> 337799 <br>
               <strong>Address: </strong> Hyatt, Gachibowli, Hyderabad, 500011
            </div>

           
        </div>
    </div>


