<body>
  <h2> Dashboard component</h2>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>WOODY</mat-card-title>
      <mat-card-subtitle>Account Number: DBS6969696</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/woody.jpg" alt="Woody">
    <mat-card-content>
      <table>
        <ul>
          <li><strong>Phone Number:</strong>123782909</li>
          <li><strong>Date of Birth:</strong>9th Aug 1997</li>
          <li><strong>Aadhar Number:</strong>1231 1232 2122</li>
          <li><strong>Username: </strong> woody</li>
          <li><strong>Email</strong> woody123@gmail.com</li>
          <li><strong>Address</strong> 234 Elm Street,California</li>
        </ul>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">EDIT PROFILE</button>
      <button mat-raised-button color="primary">SAVE CHANGES</button>
    </mat-card-actions>
  </mat-card>
</body>