<div class="row ">
    <div class="col-sm-3"></div>
    <div class="image-flip col-sm-6 card-body" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
        <div class="frontside">
          <div class="card text-center jumbotron shadow p-3 mb-5 bg-white rounded" >
            <h2 class="card-title">WOODY</h2>
            <p class="card-text">Account Number: DBS0120302</p>
            <img class="card-img-top rounded img-fluid img-responsive mx-auto" src="./assets/woody.jpg" alt="Card image" style="width:60%  ">
            <div class="card-body">
              <h4 class="card-title"></h4>
                <p class="card-text">Flip to see your Profile.</p>
            </div>
          </div>
        </div>
        <div class="backside">
          <div class="card jumbotron shadow p-3 mb-5 bg-white rounded" >
            <div class="card-body">
              <h4 class="card-title text-center">YOUR PROFILE</h4>
              <hr>
              <ul class="card-text">
                <li><strong>Full Name: </strong> RaviKanth</li><br>
                <li><strong>Phone Number:</strong>9898765678</li><br>
                <li><strong>Date of Birth:</strong>08-09-1998</li><br>
                <li><strong>Address:</strong>Indira Nagar, Gachibowli.</li><br>
                <li><strong>Aadhar Number:</strong>ravikanth@gmail.com</li><br>
                <li><strong>Username:</strong>ravikanth@gmail.com</li><br>
                <li><strong>Email:</strong>ravikanth@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3"></div>
  </div>
  